body{
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    text-align: center;
    line-height: 30px;
    color:  #964B00;
    color: red;
}
h3, h4, h1{
    color: black;
    text-align: center;
}
a{
    color: green;
    text-decoration: none;
}
button{
    background-color: white;
    color:  blueviolet;
}
textarea{
    color: #000000;
}

   


